/* Animation pour le fond */
@keyframes neon-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #12ffb0, #f3ff08, #b800ff, #00ffff);
    background-size: 400% 400%;
    animation: neon-gradient 10s ease infinite; /* Animation ajoutée */
    color: white;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}
