.navbar {
    background: #121212;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #00bcd4;
}
